@charset "UTF-8";
/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 100%;
}
a {
    text-decoration: none; 
}
ul,
ol,
li {
    list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
a {
  color: inherit;
}
html{
    font-family: "Roboto", sans-serif; 
    font-style: normal;
    line-height: normal;
}
body{
    height: 100vh;
}
.wrapper {
    height: 100%;
}
.wrapper__header{
    width: 100%;
    height: 9.275%;
    background: #4E4087;
    border-radius: 0px 0px 20px 20px;
}
.header{
    width: 90%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}
.sending__logo {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
}
.wrapper__body{
    width: 90%;
    height: 80.07%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}
.heading{
    width: 100%;
    height: 12.045%;
    text-align: left;
    color: #1F1F1F;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.video{
    width: 99.075%;
}
.items {
    max-width: 1200px;
}
.items__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item{
    position: relative;
    padding: 0px 0px 41.123% 0px;
}
.item video{
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.wrapper__appeal{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 19.36%;
    border-radius: 10px;
    background: #DDDCFF;
}
.appeal{
    width: 86.85%;
    height: 64.44%;
    color: #4F4560;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.wrapper__button{
    width: 100%;
    height: 7.89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper__button a{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 18px 36px;
    text-align: center;
    width: 48.89%;
    height: 100%;
    border-radius: 10px;
    color: #FFF;
    font-weight: 700;
    background: linear-gradient(225deg, #F86161 0%, #872BCF 56.72%, #5D1EC3 100%);
}
.wrapper__button :hover {
    background-color: linear-gradient(225deg, #F86161 100%, #872BCF 56.72%, #5D1EC3 0%);
    cursor: pointer;
    transition: All 0.5s ease;
}
.wrapper__button :active{
    background-color: linear-gradient(225deg, #F86161 0%, #872BCF 56.72%, #5D1EC3 100%);
    color: #4E4087;
    transition: All 0.3s ease;
}
.wrapper__elem{
    text-align: center;
}
.wrapper__elem a{
    color: #4E4087;
}
.wrapper__footer{
    width: 100%;
    height: 10.561%;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    background: #4E4087;
}
.massage {
    width: 89.834%;
    height: 45.66%;
    color: #CAC6DD;
}
.elem {
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
}
.elem a{
    width: 100%;
}
.image__i img{
    position: absolute;
    bottom: 0;
    right:16px;
}
@media screen and (max-width: 320px) {
    .wrapper__header{
        height: 8.345%;
    }
    .wrapper__body{
        height: 76.222%;
    }
    .sending__logo{
        font-size: 13px;
    }
    .heading{
        font-size: 24px;
        font-weight: 700;
        height: 10.947%;
    }
    .item{
        padding: 0px 0px 40.975% 0px;
    }
    .video {
        width:100%;
    }
    .wrapper__appeal{
        height: 19.352%;
    }
    .appeal{
        font-size: 16px;
        width: 87.5%;
        height: 63.62%;
    }
    .wrapper__button{
        width: 100%;
        height: 9.383%;
    }
    .wrapper__button a{
        width: 100%;
        font-size: 14px;
    }
    .elem {
        font-size: 14px;
        
    }
    .elem a{
        font-size: 14px;
    }
    /*.header {
        height: 9.01%;
    }*/
    .wrapper__footer {
        height: 15.495%;
    }
    .massagge {
        font-size: 14px;
    }
}